<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 250px; height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-4">To-Do-List</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        {% for tasklist in Taskslist %}
        <li>
            <a href="/tasks/{{ tasklist.id }}/" class="nav-link link-dark">
                <i class="bi bi-list-check"></i>
                {{ tasklist.title }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <hr>
    <div class="p-3">
        <form class="d-flex" method="POST" action="{% url 'tasklist' %}">
            {% csrf_token %}
            <input class="form-control me-2 TaskList" type="text" name="title" placeholder="Task List Title" aria-label="Task List Title" required>
            <button class="btn btn-primary" type="submit">
                <i class="bi bi-plus"></i>
            </button>
        </form>
    </div>
</div>