{% extends "base.html" %}
{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
          <form>
            <div class="cl-newtask mb-3">
              <div class="input-group">
                <button class="btn btn-primary" type="button" id="addButton">Add</button>
                <div class="topbar-divider d-none d-sm-block"></div>
                <input type="text" class="form-control" placeholder="Enter your task here" aria-label="Large input">
              </div>
              <div class="dropdown no-arrow">
                  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                  </a>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                      aria-labelledby="dropdownMenuLink">
                      <div class="dropdown-header">Dropdown Header:</div>
                      <a class="dropdown-item text-blue" href="#">Update</a>
                      <a class="dropdown-item text-danger" href="#">Delete</a>
                  </div>
              </div>
            </div>
          </form>
        </div>
      </div>    
</div>
<!-- /.container-fluid -->
{% endblock content %}